<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ir.roohi.farshid.reminderpro">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_app"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_app"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".views.activities.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.activities.SplashActivity"/>
        <activity android:name=".views.activities.NoteListActivity"/>
        <activity android:name=".views.activities.LocationListActivity"/>
        <activity android:name=".views.activities.NoteEditActivity"/>
        <activity android:name=".views.activities.RecordSoundActivity"/>
        <activity android:name=".views.activities.SoundListActivity"/>
        <activity android:name=".views.activities.SelectPlaceActivity"/>
        <activity android:name=".views.activities.SettingsActivity"/>

    <service android:name=".service.UserLocationService"
    android:enabled="true"/>
    </application>

</manifest>